@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700;800&display=swap');

:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ece9fd;

  font-size: 1.6rem;
  font-family: 'Epilogue', sans-serif;

  padding: 6.0rem 2.3rem 6.6rem;
}

main {
  max-width: 33.0rem;
  margin: 0 auto;
}

h1 {
  font-size: 4.0rem;
  font-weight: 800;
  line-height: 4.8rem;

  color: #090039;

  margin: 1.7rem auto;
}

main p:first-child {
  color: #7158ef;
  letter-spacing: .3rem;
  text-transform: uppercase;
  line-height: 3.2rem;
}

h1 + p /*P que tem anterior H1*/ {
  color: rgb(10, 0, 57, 0.64);
  line-height: 3.2rem;

  margin-bottom: 3.2rem;
}

a {
  color: #090039;
  
  text-decoration: none;
}

a:hover {
  color: #7158ef;

  font-weight: bold;
  
  text-decoration: underline;
}

ul {
  margin-top: 7.2rem;

  list-style: none;
}

ul li {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;

  color: #090039;

  max-width: 25.7rem;

  display: flex;
  gap: 3.8rem;
}

ul li:nth-child(2) {
  margin: 2.0rem 0;
}

ul li span {
  font-weight: 800;
  font-size: 7.2rem;
  line-height: 8.0rem;
  letter-spacing: -2px;

  color: #090039;
}

@media (min-width: 700px) {
  body {
    padding: 8rem;
  }

  main {
    max-width: 1020px;
    display: flex;
    gap: 10rem;
  }

  main > div /*primeira div*/ {
    max-width: 484px;
  }

  ul li {
    gap: 5.3rem;
    max-width: 400px;
    align-items: center;
  }

  ul li:nth-child(2) {
    margin: 3.2rem 0;
  }
}


