@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Staatliches&display=swap');

:root {
  --cor0: #293241;
  --cor01: #BFD7E4;
  --cor02: #F67669;
  --cor03: #FFFFFF;

  --font0: 'Staatliches', 'cursive', sans-serif;
  --fonte01: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: var(--cor0);
  width: 1440px;
  height: 465px;

  display: flex;
  flex-direction: column;
}

header h1 {
  text-align: center;
  color: var(--cor03);
  font-family: var(--font0);
  font-size: 36px;
  line-height: 45px;
  padding-top: 100px;
}

header p {
  text-align: center;
  color: var(--cor03);
  font-family: var(--fonte01);
  line-height: 24px;
}

.img-header {
  margin: auto;
}

#top {
  width: 750px;
  height: 133px;
  background-color: var(--cor02);
  border-radius: 20px 20px 0 0;
  margin: 0 auto;
}

#top legend {
  text-align: center;
  color: white;
  font-family: var(--font0);
  font-size: 24px;
  margin: 50px auto;
}

body {
  background-color: var(--cor01);
}

.page {
  margin: auto;
}

#my-form {
  background-color: var(--cor03);
  max-width: 750px;
  max-height: 1075px;
  margin: auto;
  border: 1px solid black;
  border-radius: 0 0 20px 20px;
}

