@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Staatliches&display=swap');

:root {
  --cor1: #293241;
  --cor2: #BFD7E4;
  --cor3: #F67669;
  --cor4: #FFFFFF;

  --font1: 'Staatliches', 'cursive', sans-serif;
  --font2: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: var(--cor2);
}

header {
  background-color: var(--cor1);
  color: var(--cor4);
  text-align: center;
  width: 100%;
}

header h1 {
  padding-top: 100px;
  font-family: var(--font1);
  font-size: 2em;
}

header p {
  font-family: var(--font2);
  line-height: 1.5em;
}

.header-img {
  margin: auto;
  padding: 20px;
}

.top {
  background-color: var(--cor3);
  width: 750px;
  border-radius: 20px 20px 0px 0px;
  margin: auto;
}

header h2 {
  padding: 50px;
  font-family: var(--font1);
  font-weight: normal;
}

.page {
  width: 750px;
  margin: auto;
}

#my-form {
  background-color: var(--cor4);
  border-radius: 0px 0px 20px 20px;
 
  margin: 0 auto 50px;
  padding: 0px 60px;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

section {
  font-family: var(--font2);
}

fieldset {
  border: none;
}

legend {
  font-family: var(--font1);
  color: var(--cor1);
  text-align: center;
  font-size: 1.5em;
  font-weight: normal;

  margin: auto;
  padding-top: 20px;
  border-bottom: 1px solid #E6E6F0;
  width: 620px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
}

.form-wrapper label {
  padding: 20px 0px 10px;
}

span {
  font-size: 12px;
  color: #C1BCCC;
}

span:hover {
  color: #000000;
}

.form-wrapper input, .form-wrapper textarea {
  padding: 10px;

  background-color: #FAFAFC;

  border: 1px solid #E6E6F0;
  border-radius: 8px;
}

.form-wrapper textarea {
  resize: none;
  width: 100%;
  padding: 12px 20px;
}

.checkbox {
  display: flex;
  gap: 10px;
  padding: 20px 0px;
}

.column2, .column3 {
  display: flex;
  gap: 20px;
}

.column2 > section:nth-child(1), .column2 > section:nth-child(2), .column3 > section:nth-child(1) {
  width: 100%;
}

.button {
  width: 80%;
  background-color: var(--cor3);
  font-family: var(--font1);

  border-radius: 5px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: block;
  font-size: 20px;

  margin: 40px auto;
}